<h3>Employee Details</h3>
<p>
  <h4>
    Name: <%= @employee.name %>
  </h4>
</p>

<!-- <p>
  <b>SSN:</b> <%= @employee.ssn %>
</p>
 -->
<p>
  <b>Date of Birth:</b> <%= @current_user.employee.date_of_birth.strftime("%B %d, %Y") %>
</p>

<p>
  <b>Phone:</b> <%= @current_user.employee.phone.nil? ? (number_to_phone @current_user.employee.phone) : "None entered" %>
</p>

<p>
  <b>Role:</b> <%= @employee.role.capitalize %>
</p>

<p>
  <b>Active:</b> <%= @employee.active ? "Yes" : "No" %>
</p>
