<h3><%=@store.name%> Store Details</h3>


<p>
  <%=image_tag("location.png")%>
  <%= @store.street %><br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @store.city %>, <%= @store.state %> <%= @store.zip %>
</p>

<p>
  <%=image_tag("phone.png")%>  <%= number_to_phone @store.phone %>
</p>

<p>
  <%=image_tag("user.png")%> <%= @store.active ? "Active" : "Inactive" %>
</p>