<p>
<!--   <h4>Name: <%= link_to employees_path %><%= @current_user.employee.proper_name %></h4> -->
<h4><span id="user_title"><%= link_to @current_user.employee.proper_name, 
    employee_path(current_user.employee)%></span></h4>
</p>
<!-- no sssn -->
<p>
  <%=image_tag("mail.png")%> <%= @current_user.email%>
</p>
<p>
  <%=image_tag("phone.png")%> <%= @current_user.employee.phone.nil? ? "None entered" : (number_to_phone @current_user.employee.phone) %>
</p>

<p>
  <%=image_tag("user.png")%> <%= @current_user.employee.role.capitalize %>
</p>

<!-- <p>
  <b>Active:</b> <%= @current_user.employee.active ? "Yes" : "No" %>
</p> -->
<%= link_to(eval("edit_employee_path(@current_user.employee)"), method: 'edit', class: 'button radius') do %>
    &nbsp;<%= "Edit #{@current_user.employee.name}" %>
<% end %>

