<div id="personal_homepage">
<h3>Welcome back, <%=current_user.employee.first_name%>!</h3>

<p></p>

<% if current_user!=nil && (current_user.role? :admin) %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Your Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <div id="Adding">
                <h3>Adding Things</h3>
                <%= link_to(eval("new_store_path"), method: 'get', class: 'button radius') do %>
    &nbsp;<%= "Add a Store" %>
                <%end%>
                <%= link_to(eval("new_flavor_path"), method: 'get', class: 'button radius') do %>
    &nbsp;<%= "Add a Flavor" %>
                <%end%>
                <br>
                <%= link_to(eval("new_employee_path"), method: 'get', class: 'button radius') do %>
    &nbsp;<%= "Add an Employee" %>
                <%end%>
                <br>
                <%= link_to(eval("new_assignment_path"), method: 'get', class: 'button radius') do %>
    &nbsp;<%= "Add an Assignment" %>
                <%end%>

    
                </div>
            </td>
        </tr>
    </table>
<% end %>


<% if current_user!=nil && (current_user.role? :manager) %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Personal Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <div id="incomplete_shifts">
                    <%= render partial: "shifts/shift_list", locals: {shifts: Shift.incomplete.for_store(current_user.employee.current_assignment.store_id).by_employee.paginate(page: params[:page]).per_page(10), state: @state = "incomplete"} %>
                </div>
            </td>
        </tr>
    </table>
<% end %>

<% if current_user!=nil && (current_user.role? :employee) %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Your Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <h3>Upcoming Shifts</h3>
                <div id="upcoming_shifts">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Store</th>
                        <th class="centered">Date</th>   
                        <th class="centered">Start Time</th>
                        <th class="centered">End Time</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%  current_user.employee.current_assignment.shifts.upcoming.each do |shift| %>
                        <tr>
                          <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
                          <td class="centered"><%= shift.date.strftime("%b %d") %></td>
                          <td class="centered"><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
                          <td class="centered"><%= shift.end_time.localtime.strftime("%I:%M %p")%></td>
                          <td>
                            <%= link_to(start_shift_path(id: shift.id), method: :post, remote: true, class: 'button tiny radius warning') do %>
                              &nbsp;Start Shift&nbsp;
                            <% end %>
                          </td>
                          <td> 
                            <%= link_to(end_shift_path(id: shift.id), method: :post, remote: true, class: 'button tiny radius warning') do %>
                              &nbsp;End Shift&nbsp;
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </td>
        </tr>
    </table>
<% end %>

<% if current_user==nil %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Personal Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <h3>Upcoming Shifts</h3>
                <div id="upcoming_shifts">
                    <%= render :partial => 'users/user_details'%>
            </td>
        </tr>
    </table>
<% end %>
</div>

