<h3>Welcome back, <%=current_user.employee.first_name%>!</h3>

<p></p>

<% if current_user!=nil && (current_user.role? :manager) %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Personal Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <h3>Upcoming Shifts</h3>
                <div id="upcoming_shifts">
                    <%= render :partial => 'users/user_details'%>
            </td>
        </tr>
    </table>
<% end %>

<% if current_user!=nil && (current_user.role? :employee) %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Your Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <h3>Upcoming Shifts</h3>
                <div id="upcoming_shifts">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Store</th>
                        <th class="centered">Date</th>   
                        <th class="centered">Start Time</th>
                        <th class="centered">End Time</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%  current_user.employee.current_assignment.shifts.upcoming.each do |shift| %>
                        <tr>
                          <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
                          <td class="centered"><%= shift.date.strftime("%b %d") %></td>
                          <td class="centered"><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
                          <td class="centered"><%= shift.end_time.localtime.strftime("%I:%M %p")%></td>
                          <td>
                            <%= link_to(start_shift_path(id: shift.id), class: 'button tiny radius warning') do %>
                              &nbsp;Start&nbsp;
                            <% end %>
                          </td>
                          <td> 
                            <%= link_to(end_shift_path(id: shift.id), class: 'button tiny radius warning') do %>
                              &nbsp;Stop&nbsp;
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </td>
        </tr>
    </table>
<% end %>

<% if current_user==nil %>
    <table border="0" cellspacing="5" cellpadding="5">
        <tr valign="top">
            <td>
                <h3>Personal Information</h3>
                <div id="user_employee_details">
                    <%= render :partial => 'users/user_details'%>
                </div>
            </td>
            <td width="50">&nbsp;</td>
            <td>
                <h3>Upcoming Shifts</h3>
                <div id="upcoming_shifts">
                    <%= render :partial => 'users/user_details'%>
            </td>
        </tr>
    </table>
<% end %>

